Repository Lamatic/Lamatic-Docs, pull requests merged in 2025-02, with the labels that each got.

#169 Fix: Guide updated
  pages/guides/tutorials/ai-candidate-screener.mdx
  pages/guides/tutorials/ai-email-summarizer.mdx
  pages/guides/tutorials/ai-linkedin-post-generator.mdx
  public/images/tutorials/ai-candidate.png
  public/images/tutorials/ai-email-summarizer.png
  public/images/tutorials/ai-linkedin.png
Labels: documentation, enhancement

#170 ui fixed
  pages/docs/nodes/agent-classifier-node.mdx
Labels: update-doc

#172 Feat: date deletion policy added
  pages/docs/legal/cookie-policy.md
  pages/docs/legal/data-deletion-policy.mdx
  pages/docs/legal/privacy-policy.mdx
  pages/docs/legal/terms-of-service.mdx
Labels: enhancement

#173 Memory Node Docs
  pages/docs/context/img/memory-store-view.png
  pages/docs/context/img/memory-store.png
  pages/docs/context/memory-store.mdx
  pages/docs/nodes/img/mem-add/memory-add.png
  pages/docs/nodes/img/memory-retrieve/access.png
  pages/docs/nodes/img/memory-retrieve/memory-access.png
  pages/docs/nodes/img/memory-retrieve/memory-filter-options.png
  pages/docs/nodes/img/memory-retrieve/memory-filter.png
  pages/docs/nodes/img/memory-retrieve/memory-retrieve.png
  pages/docs/nodes/memory-add-node.mdx
  pages/docs/nodes/memory-retrieve-node.mdx
Labels: documentation, new-doc

#178 Fix: Text LLM
  pages/docs/nodes/text-llm-node.mdx
Labels: documentation, update-doc
