Repository Lamatic/Lamatic-Docs, pull requests merged in 2025-01, with the labels that each got.

#89 Feat: Execute flow added in guide
  pages/guides/tutorials/img/execute-flow/selection.png
  pages/guides/tutorials/img/execute-flow/use.png
  pages/guides/tutorials/streamlining-workflow-design-with-execute-flow.mdx
Labels: documentation, enhancement, good first issue

#92 Fix: Integration Postgres, Google Drive & Google Sheets Doc Updated
  pages/docs/integrations/Postgres_SQL.mdx
  pages/docs/integrations/google-drive.mdx
  pages/docs/integrations/google-sheets.mdx
Labels: documentation, update-doc

#93 Fix: Integration: websearch doc updated
  pages/docs/integrations/websearch.mdx
Labels: documentation, update-doc

#94 Fix: Slack node doc updated
  pages/docs/integrations/slack.mdx
Labels: documentation, update-doc

#95 Fix: execute flow doc updated
  pages/docs/node/execute-flow.mdx
Labels: documentation, update-doc

#96 Feat: Guide/RAG with AWS S3
  pages/guides/tutorials/img/aws-s3/chunk.png
  pages/guides/tutorials/rag-with-aws-s3.mdx
  pages/guides/tutorials/streamlining-workflow-design-with-execute-flow.mdx
Labels: documentation, new-doc

#97 Feat: Guide/ AI Candidate Screener
  pages/guides/tutorials/ai-candidate-screener.mdx
  pages/guides/tutorials/img/ai-candidate/1.png
  pages/guides/tutorials/img/ai-candidate/10.png
  pages/guides/tutorials/img/ai-candidate/11.png
  pages/guides/tutorials/img/ai-candidate/12.png
  pages/guides/tutorials/img/ai-candidate/2.png
  pages/guides/tutorials/img/ai-candidate/3.png
  pages/guides/tutorials/img/ai-candidate/4.png
  pages/guides/tutorials/img/ai-candidate/5.png
  pages/guides/tutorials/img/ai-candidate/6.png
  pages/guides/tutorials/img/ai-candidate/7.png
  pages/guides/tutorials/img/ai-candidate/8.png
  pages/guides/tutorials/img/ai-candidate/9.png
Labels: documentation, new-doc

#99 Feat: Condition node Doc
  pages/docs/node/condition-node.mdx
  pages/docs/node/execute-flow.mdx
  pages/docs/node/img/condition/condition-node.png
  pages/docs/node/img/condition/condition-setup.png
  pages/docs/node/img/execute-node.png
  pages/docs/node/img/execute/execute.png
Labels: documentation, new-doc

#101 Feat: Node Re-structure with type wise
  components/NodesIndex.tsx
  pages/docs/_meta.json
  pages/docs/nodes.mdx
  pages/docs/nodes/code-node.mdx
  pages/docs/nodes/condition-node.mdx
  pages/docs/nodes/execute-flow.mdx
  pages/docs/nodes/img/condition/condition-node.png
  pages/docs/nodes/img/condition/condition-setup.png
  pages/docs/nodes/img/execute/execute.png
  pages/docs/nodes/img/logic/logic.png
Labels: documentation, new-doc, update-doc

#102 Feat: Crawler Node Doc
  pages/docs/nodes/crawler-node.mdx
  pages/docs/nodes/img/crawler/crawler.png
Labels: documentation, new-doc, update-doc

#103 Feat: Scrapper node doc
  pages/docs/nodes/img/scraper/scraper.png
  pages/docs/nodes/scraper-node.mdx
Labels: documentation, new-doc

#104 Feat: text gen node added
  pages/docs/nodes/code-node.mdx
  pages/docs/nodes/condition-node.mdx
  pages/docs/nodes/crawler-node.mdx
  pages/docs/nodes/execute-flow.mdx
  pages/docs/nodes/img/text-gen/text-gen.png
  pages/docs/nodes/scraper-node.mdx
  pages/docs/nodes/text-generate-node.mdx
Labels: documentation, new-doc, update-doc

#105 Feat: JSON node doc
  pages/docs/nodes/img/json/json.png
  pages/docs/nodes/json-generate-node.mdx
Labels: documentation, new-doc

#106 Feat: RAG Node Doc
  pages/docs/nodes/RAG-node.mdx
  pages/docs/nodes/crawler-node.mdx
  pages/docs/nodes/img/rag/rag.png
  pages/docs/nodes/json-generate-node.mdx
  pages/docs/nodes/text-generate-node.mdx
Labels: documentation, new-doc, update-doc

#107 Feat: Image Gen node
  pages/docs/nodes/image-gen-node.mdx
  pages/docs/nodes/img/imggen/imggen.png
Labels: documentation, new-doc

#108 Feat: Multimodel node doc
  pages/docs/nodes/img/multimodel/multimodel.png
  pages/docs/nodes/multimodel-text-node.mdx
Labels: documentation, new-doc

#109 Feat: Remove record in db Doc added
  pages/docs/context/img/index.png
  pages/docs/context/vectordb.mdx
Labels: documentation, update-doc

#110 Feat: Hybrid Search Node doc
  pages/docs/nodes/hybrid-search-node.mdx
  pages/docs/nodes/img/hybrid/hybrid.png
  pages/docs/nodes/multimodel-text-node.mdx
Labels: documentation, new-doc

#111 Feat: Vector Search Node
  pages/docs/nodes/img/vector/vector.png
  pages/docs/nodes/vector-search-node.mdx
Labels: documentation, new-doc, update-doc

#112 Feat: Confidential Whistleblower Reporting Page
  pages/docs/report-issue.mdx
Labels: good first issue, new-doc

#113 Fix: Data node updated
  pages/docs/nodes/hybrid-search-node.mdx
  pages/docs/nodes/vector-search-node.mdx
Labels: documentation, update-doc, improvement :chart_with_upwards_trend:

#115 Feat: api key page
  pages/docs/_meta.json
  pages/docs/img/api.png
  pages/docs/keys.mdx
Labels: documentation, new-doc

#116 Updated next.config.mjs
  next.config.mjs
Labels: documentation, update-doc

#119 Feat: API Node Doc
  pages/docs/nodes/api-node.mdx
  pages/docs/nodes/img/api/api.png
Labels: documentation, new-doc

#120 Feat: Chunking node added
  pages/docs/nodes/chunking-node.mdx
  pages/docs/nodes/img/chunk/chunk.png
Labels: documentation, new-doc

#121 Feat: Vector/ node added
  pages/docs/nodes/img/index/index.png
  pages/docs/nodes/img/vcn/vector.png
  pages/docs/nodes/index-node.mdx
  pages/docs/nodes/vectorize-node.mdx
Labels: documentation, new-doc

#124 Feat: Nodes Index Page Updated
  components/NodesIndex.tsx
  pages/docs/nodes.mdx
Labels: documentation, update-doc, improvement :chart_with_upwards_trend:

#130 Fix: S3 Node updated
  pages/docs/integrations/aws-s3.mdx
Labels: documentation, update-doc

#132 Fix: Index node updated
  pages/docs/nodes/index-node.mdx
Labels: documentation, update-doc

#133 Feat: Content Updated in Integration Node
  pages/docs/integrations/N8N.mdx
  pages/docs/integrations/Postgres_SQL.mdx
  pages/docs/integrations/aws-s3.mdx
  pages/docs/integrations/firecrawl.mdx
  pages/docs/integrations/github.mdx
  pages/docs/integrations/google-drive.mdx
  pages/docs/integrations/google-sheets.mdx
  pages/docs/integrations/slack.mdx
  pages/docs/integrations/websearch.mdx
  pages/docs/nodes/branch-node.mdx
  pages/docs/nodes/img/branch/branch.png
Labels: documentation, update-doc

#134 Feat: keyword search Node
  pages/docs/nodes/img/keyword/keyword.png
  pages/docs/nodes/keyword-search-node.mdx
Labels: documentation, update-doc

#135 Feat: Bug Bounty Program
  pages/docs/bug-bounty-program.mdx
  pages/docs/img/bug.png
Labels: documentation, update-doc

#136 Feat: Guides Content update
  pages/guides/tutorials/ai-candidate-screener.mdx
  pages/guides/tutorials/building-chatbot.mdx
  pages/guides/tutorials/get-started.mdx
  pages/guides/tutorials/img/aws-s3/overview.png
  pages/guides/tutorials/powerful-chatbot-with-firecrawl.mdx
  pages/guides/tutorials/rag-with-aws-s3.mdx
  pages/guides/tutorials/rag-with-google-drive.mdx
  pages/guides/tutorials/streamlining-workflow-design-with-execute-flow.mdx
Labels: documentation, update-doc

#137 Fix: content fix
  components/NodesIndex.tsx
  pages/docs/integrations.mdx
Labels: documentation, update-doc

#141 Feat: UI Fixed in Guides
  components/TutorialIndex.tsx
  pages/guides/tutorials/ai-candidate-screener.mdx
  pages/guides/tutorials/ai-review-responder.mdx
  pages/guides/tutorials/building-chatbot.mdx
  pages/guides/tutorials/get-started.mdx
  pages/guides/tutorials/img/get-started/api-flow.png
  pages/guides/tutorials/img/get-started/deploy.png
  pages/guides/tutorials/img/get-started/flow-api-schema.png
  pages/guides/tutorials/img/get-started/flow-api.png
  pages/guides/tutorials/img/get-started/flow-selection.png
  pages/guides/tutorials/img/get-started/flow-start.png
  pages/guides/tutorials/img/get-started/flow-test-1.png
  pages/guides/tutorials/img/get-started/flow.png
  pages/guides/tutorials/img/get-started/node-text-gen-config.png
  pages/guides/tutorials/img/get-started/node-text-gen-response.png
  pages/guides/tutorials/img/get-started/node-text-gen.png
  pages/guides/tutorials/powerful-chatbot-with-firecrawl.mdx
  pages/guides/tutorials/rag-with-aws-s3.mdx
  pages/guides/tutorials/rag-with-google-drive.mdx
  pages/guides/tutorials/streamlining-workflow-design-with-execute-flow.mdx
  public/images/tutorials/default.png
  public/images/tutorials/getting-started.png
Labels: documentation, update-doc, improvement :chart_with_upwards_trend:

#142 Fix: Guide: chatbot content updated
  pages/guides/tutorials/building-chatbot.mdx
  pages/guides/tutorials/img/building-chatbot/chatbot-share.png
  pages/guides/tutorials/img/building-chatbot/chatbot-test.png
  pages/guides/tutorials/img/building-chatbot/chatbot.png
  pages/guides/tutorials/img/building-chatbot/deploy.png
Labels: documentation, update-doc, improvement :chart_with_upwards_trend:, typo :pencil2:

#143 Fix: Guide Execute Flow Design
  pages/guides/tutorials/img/execute-flow/selection.png
  pages/guides/tutorials/img/execute-flow/use.png
Labels: documentation, update-doc, typo :pencil2:

#144 Fix: ai review
  pages/guides/tutorials/img/ai-review-responder/api-schema.png
  pages/guides/tutorials/img/ai-review-responder/code-node.png
  pages/guides/tutorials/img/ai-review-responder/condition-node.png
  pages/guides/tutorials/img/ai-review-responder/deploy.png
  pages/guides/tutorials/img/ai-review-responder/else-flow.png
  pages/guides/tutorials/img/ai-review-responder/flow-select.png
  pages/guides/tutorials/img/ai-review-responder/flow-start.png
  pages/guides/tutorials/img/ai-review-responder/flow-step2.png
  pages/guides/tutorials/img/ai-review-responder/flow.png
  pages/guides/tutorials/img/ai-review-responder/if-flow.png
  pages/guides/tutorials/img/ai-review-responder/response-node.png
  pages/guides/tutorials/img/ai-review-responder/testing.png
  pages/guides/tutorials/img/ai-review-responder/text-gen-node1.png
  pages/guides/tutorials/img/ai-review-responder/text-gen-node2.png
Labels: documentation, update-doc, improvement :chart_with_upwards_trend:, typo :pencil2:

#145 Fix Guides
  pages/guides/tutorials/building-chatbot.mdx
  pages/guides/tutorials/img/chatbot-firecrawl/chatbot-share.png
  pages/guides/tutorials/img/chatbot-firecrawl/firecrawl-2.png
  pages/guides/tutorials/img/chatbot-firecrawl/firecrawl-3.png
  pages/guides/tutorials/img/chatbot-firecrawl/firecrawl-4.png
  pages/guides/tutorials/img/chatbot-firecrawl/firecrawl-5.png
  pages/guides/tutorials/img/chatbot-firecrawl/firecrawl-6.png
  pages/guides/tutorials/img/chatbot-firecrawl/firecrawl-7.png
  pages/guides/tutorials/img/chatbot-firecrawl/firecrawl-8.png
  pages/guides/tutorials/img/chatbot-firecrawl/firecrawl-9.png
  pages/guides/tutorials/img/chatbot-firecrawl/firecrawl.png
  pages/guides/tutorials/powerful-chatbot-with-firecrawl.mdx
  pages/guides/tutorials/rag-with-aws-s3.mdx
  pages/guides/tutorials/rag-with-google-drive.mdx
  pages/guides/tutorials/streamlining-workflow-design-with-execute-flow.mdx
  public/images/tutorials/aws-guide.png
  public/images/tutorials/chatbot-guide.png
  public/images/tutorials/execute-flow-guide.png
  public/images/tutorials/firecrawl-guide.png
  public/images/tutorials/google-drive-guide.png
Labels: documentation, update-doc, improvement :chart_with_upwards_trend:

#146 ui fixed
  pages/guides/tutorials/ai-review-responder.mdx
  public/images/tutorials/ai-review-guide.png
Labels: documentation, update-doc

#147 Fix: content updated
  components/VideoPlayer.tsx
  pages/docs/flows/editor.mdx
  pages/docs/flows/img/deploy.png
  pages/docs/flows/nodes.mdx
  pages/docs/img/log-details.png
  pages/docs/img/logs-filter.png
  pages/docs/img/logs.png
  pages/docs/legal/privacy-policy.mdx
  pages/docs/legal/terms-of-service.mdx
  pages/docs/reports/langfuse-integration.mdx
  pages/docs/studio/roles.png
  pages/docs/tests.mdx
Labels: documentation, update-doc

#148 Feat: Developer Relation Engineer role job
  pages/docs/career.mdx
Labels: documentation, update-doc

#154 Fix: Tools and Agent Classifier doc
  pages/docs/_meta.json
  pages/docs/img/tools/tools-code.png
  pages/docs/img/tools/tools-parameters.png
  pages/docs/img/tools/tools-update.png
  pages/docs/img/tools/tools-use.png
  pages/docs/img/tools/tools.png
  pages/docs/nodes/agent-classifier-node.mdx
  pages/docs/nodes/img/agentc/agentc.png
  pages/docs/tools.mdx
Labels: documentation, enhancement, good first issue, feature-request :rocket:
